<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/base.xml"/>

	<!-- logger name="org.springframework" level="DEBUG"/-->
	
	<!-- In addition, Spring Boot provides provide two  preconfigured appenders through the console-appender.xml and file-appender.xml files. The base.xml file references both of them. -->
    <logger name="com.blackbird.web.service" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <!--<appender-ref ref="FILE"/>-->
    </logger>
    <logger name="com.blackbird.web.mvc" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <!--<appender-ref ref="FILE"/>-->
    </logger>

    <logger name="io.stackdocker.ugs.webapp" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <!--<appender-ref ref="FILE"/>-->
    </logger>

    <!-- https://springframework.guru/using-logback-spring-boot/ -->

    <!--
        <springProfile name="dev,staging">
            <logger name="guru.springframework.controllers" level="DEBUG" additivity="false">
                <appender-ref ref="CONSOLE" />
            </logger>>
        </springProfile>
        <springProfile name="production">
            <logger name="guru.springframework.controllers" level="WARN" additivity="false">
                <appender-ref ref="FILE" />
            </logger>
        </springProfile>
    -->

</configuration>
