bin/
.vagrant/
temp*
tmp*
docs/*.txt
*.cert
*.crt
*.key

metering/Dockerfile.exporter
metering/Dockerfile.collector
tracing/Dockerfile.agent
tracing/Dockerfile.collector

/examples/java/**/.classpath
/examples/java/**/.DS_Store
/examples/java/**/.metadata
/examples/java/**/.project
/examples/java/**/.settings

/examples/java/flag/RemoteSystemsTempFiles
/examples/java/flag/src/main/java/cn/com/isc/config
/examples/java/flag/src/main/java/cn/com/isc/controller
/examples/java/flag/src/main/java/cn/com/isc/entity
/examples/java/flag/src/main/java/cn/com/isc/filter
/examples/java/flag/src/main/java/cn/com/isc/repository
/examples/java/flag/src/main/java/cn/com/isc/server
/examples/java/flag/src/main/java/cn/com/isc/until/
/examples/java/flag/src/main/resources/static
/examples/java/flag/src/main/webapp
/examples/java/flag/target

/examples/python/check-alive/

/examples/php/dynamic
/examples/php/edusoho
/examples/php/rival/laravel-app/docs
/examples/php/rival/laravel-app/vendor
/examples/php/rival/pubsub/vendor
/examples/php/rival/think5-app


# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
