bin/
temp*
tmp*
/*.txt
docs/*.txt
*.cert
*.crt
*.key

/examples/java/flag/.*
/examples/java/flag/src/main/java
/examples/java/flag/src/main/resources
/examples/java/flag/src/main/webapp
/examples/java/flag/target
/examples/java/flag/RemoteSystemsTempFiles
/examples/python/**/*.py
/examples/php/dynamic
/examples/php/edusoho


# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
